@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Saját aloldal: <a href="/Home/SubPage">Link az oldalra</a>.</p>
    <p>Customer datas: <a href="/Home/CustomerList">Mutasd</a>.</p>
    <p>Customer datas Sub3 táblázatban: <a href="/Home/Sub3">Mutasd</a>.</p>
</div>
