@{
    ViewData["Title"] = "Kutyabarátok";
}

<div class="text-center">
    <h1 class="display-4">Kutyabarátok oldala</h1> 
    <img src="~/imgs/alaszkaimalamut.jpg" alt="Kutyabarátok" style="max-width:100%; height:auto;" />
</div>
